* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-color: #0D0D2B;
    font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif;
}
.wrapper {
    min-height: 100%;
}
ul {
    margin: 0;
    padding: 0;
}
ul>li {
    list-style: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1202px;
    margin: 0 auto;
}

.header {
    display: flex;
    padding-top: 66px;
}
.logo__img {
    margin-right: 453px;
}
.logo {
}
.nav__list {
    display: flex;
}
.nav__item {
    padding-top: 19px;
    margin-right: 33px;
}
.nav__item:nth-child(4) {
    margin-right: 57px;
}
.nav__item:last-child {
    margin: 0;
}
.nav__link {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.hero__img-wrap-palka {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 19px;
}
.btn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    background: #3671E9;
    border-radius: 32px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.btn-arrow {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 24px;
    position: absolute;
    width: 202px;
    height: 64px;
    background: #3671E9;
    border-radius: 32px;  
    padding-top: 17px;
}
.btn-arrow__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 17px;
    padding-left: 10px;
}
.hero__content {
    display: flex;
}
.hero__info {
    padding-top: 135px;
}
.hero__headline {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    width: 365px;
    height: 40px;
    margin-bottom: 32px;
}
.hero__headline-text1 {
      width: 113px;
    height: 32px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0D0D2B;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #FFFFFF;
    border-radius: 32px;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    padding: 4px 4px 16px 16px;
    margin: 4px 16px 4px 4px;
    gap: 10px;
}
.hero__headline-text2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding-top: 7px
}
.hero__title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.hero__text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
    margin-bottom: 40px;
}
.hero__img-wrap-arrow {

}
.hero__img-arrow {

}
.hero__decor {
    padding-top: 86px;
}
.decor__img {
}
